@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar */
/* For Webkit browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(220, 13%, 13%);
  border-radius: 6px;
}

/* For Firefox */
* {
  scrollbar-color: hsl(220, 13%, 13%) hsl(0, 0%, 75%);
  scrollbar-width: thin;
}

.scroll-tight {
  scrollbar-width: thin;
  /* Width of the scrollbar */
  scrollbar-color: gray lightgray;
  /* Color of the scrollbar */
}

.scroll-tight::-webkit-scrollbar {
  width: 2px;
}

.scroll-tight::-webkit-scrollbar-thumb {
  background: gray;
}

.max-h-56.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}


.absolute-center-h {
  @apply absolute left-1/2 transform -translate-x-1/2;
}

.absolute-center-v {
  @apply absolute top-1/2 transform -translate-y-1/2;
}

.absolute-center-both {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}